.header{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
    /*deixa fixo o header*/
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    z-index: 10000;  
}

.header .logo{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--tex-color);
}
.header .logo span{
    color: var(--title-color);
    font-size: 2.5rem;
}

.header .navbar a{
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: var(--tex-color);
    border-radius: .5rem;
}
.header .navbar a:hover{
    background: var(--title-color);
}

/*hamburger*/
#menu-btn{
    display: none;
    color: var(--tex-color);
    font-size: 3rem;
    cursor: pointer;

}